/* The primary page styling */
body {
  background-color: white;
  font-family: "Comic Sans MS", serif;
  font-size: 250%;
}
footer {
  font-size: small;
  text-align: center;
}
.smallerFontSize {
  font-size: 70%;
}
.missing {
  color: red;
}
.border {
  border-top: thick solid black;
  border-right: thick solid black;
  border-bottom: thick solid black;
  border-left: thick solid black;  
}
.override {
  border-top: thin solid black;
  padding: 40px; 
}
.superBig {
  font-size: 200%;
  position: relative;
  top: -15px;
}
.expanded {
  padding: 20px;
}
.row-height-min {
  height: 140px;
}
.logo {
  width: 40%;
}
.smiley {
  padding: 5px;
  max-height: 90%;
  max-width: 90%;
  width: auto;
  display: inline-block;
  vertical-align: middle;
}

/* AngularJS Animation */
.my-show-hide-animation.ng-hide-add {
  -webkit-transition-delay: 0.5s;
  transition-delay: 0.5s;
  opacity:0;
}
.my-show-hide-animation.ng-hide-remove {
  -webkit-transition:0.5s linear all;
  transition:0.5s linear all;
  display:block!important;
  opacity:1;
}
.my-show-hide-animation.ng-hide {
  opacity:0;
}

/* Borrowing from Yuichi Hagio */
/* Non AngularJS Animation - for webkit browser
============================ */
/* Smile Image */
@-webkit-keyframes smile {
  0% {-webkit-transform: rotateZ(-5deg);}
  50% {-webkit-transform: rotateZ(5deg);}
  100% {-webkit-transform: rotateZ(-5deg);}
}
.smileImage {
  -webkit-animation: smile 2s infinite;
}
/* Automate This */
@-webkit-keyframes automate {
  0% {color: #00CED1;}
  50% {color: #FF1493;}
  100% {color: #00CED1;}
}
.automate {
  -webkit-animation: automate 20s infinite;
}
/** {
  outline: 1px solid orange;
}
