<!DOCTYPE html>
<head>
	<title>ngMadLibs</title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.11/angular.js"></script>
	<script type="text/javascript" src="http://code.angularjs.org/1.3.0-beta.11/angular-animate.js"></script>
	<script src="./scripts/myApp.js"></script>
  	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	<!--CDN link for the latest TweenMax-->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/gsap/latest/TweenMax.min.js"></script>
	<link rel="stylesheet" href="./css/main.css">
	<meta charset="UTF-8">
</head>
<body ng-app="myApp" ng-controller="madLibsCtrl">
	<br><br>
	<div class="row">
		<div class="col-md-2 col-md-offset-2 border row-height-min text-center">
			<img src="./img/mad-lib-happy-face.png" class="smiley smileImage">
		</div>
		<div class="col-md-6 text-center border row-height-min text-center automate">
			<img src="./img/ng-mad-libs-logo.png" class="logo">
			<p class="superBig">Automate This!</p>
		</div>
	</div>
	<div class="row my-show-hide-animation" ng-hide="showResult">
		<div class="col-md-8 col-md-offset-2 border override">
			<div class="row expanded">
				<span>Provide the following data:</span>
			</div>
			<form name="myForm" ng-submit="submitted=true; submit()" class="row inputs"  novalidate>
				<div class="row text-center">
					Select a gender: 
					<label for="male">Male</label>
					<input type="radio" name="gender" ng-model="data.gender" value="male"/>
					<label for="female">Female</label>
					<input type="radio" name="gender" ng-model="data.gender" value="female"><br><br>
				</div>
				<div class="col-md-4 text-center">
					<div id="personNameText" class="hiddenWords" ng-hide="data.hideWords">{{data.personName}}</div>
					<p><input type="text" name="personName" ng-model="data.personName" placeholder="Person's name" autofocus required></p>
					<p ng-if="submitted && myForm.personName.$error.required" class="missing">A name is required.</p>
					<p><input type="text" name="job" ng-model="data.jobTitle" placeholder="Job title" required></p>
					<p ng-if="submitted && myForm.job.$error.required" class="missing">A job is required.</p>
					<p><input type="text" name="task1" ng-model="data.tediousTask" placeholder="Tedious task" required></p>
					<p ng-if="submitted && myForm.task1.$error.required" class="missing">A task is required.</p>
				</div>
				<div class="col-md-4 text-center">
					<p><input type="text" name="task2" ng-model="data.dirtyTask" placeholder="Dirty task" required></p>
					<p ng-if="submitted && myForm.task2.$error.required" class="missing">A task is required.</p>
					<p><input type="text" name="celebrity" ng-model="data.celebrity" placeholder="Celebrity" required></p>
					<p ng-if="submitted && myForm.celebrity.$error.required" class="missing">A celebrity is required.</p>
					<p><input type="text" name="skill" ng-model="data.uselessSkill" placeholder="Useless skill" required></p>
					<p ng-if="submitted && myForm.skill.$error.required" class="missing">A skill is required.</p>
				</div>
				<div class="col-md-4 text-center">
					<p><input type="text" name="ObnoxCeleb" ng-model="data.obnoxiousCeleb" placeholder="Obnoxious Celebrity" required></p>
					<p ng-if="submitted && myForm.ObnoxCeleb.$error.required" class="missing">A name is required.</p>
					<p><input type="number" name="number" ng-model="data.hugeNumber" placeholder="Huge number" required></p>
					<p ng-if="submitted && myForm.number.$error.required" class="missing">A number is required.</p>
					<p><input type="text" name="adjective" ng-model="data.adjective" placeholder="Adjective" required></p>
					<p ng-if="submitted && myForm.adjective.$error.required" class="missing">A entry is required.</p>
				</div>
			<hr>
			<input id="submitButton" type="submit" value="Submit" class="pull-right">
			</form>
		</div>
	</div>
	<div class="row my-show-hide-animation" ng-show="showResult">
		<div class="col-md-8 col-md-offset-2 border override" id="madLibsText">
			<p>{{data.personName}} was {{data.aAn}} {{data.jobTitle}} who loved technology. Although {{data.heShe}} loved parts of {{data.hisHer}} job, {{data.heShe}} absolutely hated  {{data.tediousTask}} and {{data.dirtyTask}}. So, {{data.personName}} met with {{data.hisHer}} life mentor {{data.celebrity}} who told {{data.himHer}} to learn how to {{data.uselessSkill}} with Thinkful. Thinkful didn't offer a course to {{data.uselessSkill}}, so {{data.heShe}} studied programming instead.
			</p>
			<p>What a great decision! With {{data.hisHer}} new skills, {{data.personName}} built a {{data.adjective}} robot named {{data.obnoxiousCeleb}} that not only loved {{data.dirtyTask}} but did it {{data.hugeNumber}}% faster.
			</p>
		</div>
		<div class="col-md-8 col-md-offset-2 text-center">
			<br>
			<input id="modifyEntries" class="inputs" type="button" value="Modify Entries" ng-click="return()">
		</div>
	</div>
</body>
<footer>
		<br><br>ngMadLibs App version: {{version}}<br>
</footer>
</html>
