<!DOCTYPE html>
<head>
	<title>ngMadLibs</title>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.15/angular.min.js"></script>
	<script src="./scripts/myApp.js"></script>
  	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="./css/main.css">
	<meta charset="UTF-8">
</head>
<body ng-app="myApp">
	<br><br>
		<div class="row">
		<div class="col-md-2 col-md-offset-2 border">
			<img src="./img/mad-lib-happy-face.png" alt="MadLibs is FUN!" class="autoHeight">
		</div>
		<div class="col-md-6 text-center border">
			<img src="./img/ng-mad-libs-logo.png" alt="" width="360">
			<p class="superBig">Automate This!</p>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2 border override">
			<div class="row expanded">
				<span>Provide the following words:</span>
			</div>
			<div class="row inputs">
				<div class="col-md-4 text-center">
					<p><input type="text" ng-model="femaleName" placeholder="Female name" autofocus></p>
					<p><input type="text" ng-model="jobTitle" placeholder="Job title"></p>
					<p><input type="text" ng-model="tediousTask" placeholder="Tedious task"></p>
				</div>
				<div class="col-md-4 text-center">
					<p><input type="text" ng-model="dirtyTask" placeholder="Dirty task"></p>
					<p><input type="text" ng-model="celebrity" placeholder="Celebrity"></p>
					<p><input type="text" ng-model="uselessSkill" placeholder="Useless skill"></p>
				</div>
				<div class="col-md-4 text-center">
					<p><input type="text" ng-model="obnoxiousCeleb" placeholder="Obnoxious Celebrity"></p>
					<p><input type="text" ng-model="hugeNumber" placeholder="Huge number"></p>
					<p><input type="text" ng-model="adjective" placeholder="Adjective"></p>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-md-8 col-md-offset-2 border override">
			<p>{{femaleName}} was a {{jobTitle}} who loved technology. Although she loved parts of her job, she absolutely hated  {{tediousTask}} and {{dirtyTask}}. So, {{femaleName}} met with her life mentor {{celebrity}} who told her to learn how to {{uselessSkill}} with Thinkful. Thinkful didn't offer a course on {{uselessSkill}} so she studied programming instead.
			</p>
			<p>What a great decision! With her new skills, {{femaleName}} built a(n) {{adjective}} robot named {{obnoxiousCeleb}} that not only loved {{dirtyTask}} but did it {{hugeNumber}}% faster.
			</p>
		</div>
	</div>
</body>
<footer>
		<br><br>App version: {{version}}<br>
</footer>
</html>
